# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environment
venv/
.venv/

# Data
data/raw/
data/processed/
data/corrupted_test/

# Models
models/
*.h5
*.keras
*.pkl
*.joblib

# Results
# Results
results/*
!results/summary/
!results/summary/*.csv
!results/summary/*.md

# System files
.DS_Store
Thumbs.db

# VSCode
.vscode/