# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environment
venv/
.venv/

# Data
data/raw/
data/processed/
data/corrupted_test/

# Models
models/
*.h5
*.keras
*.pkl
*.joblib

# Results
results/
*.png
*.jpg
*.jpeg
*.csv

# System files
.DS_Store
Thumbs.db

# VSCode
.vscode/